{% extends 'base.html' %}

{% block content %}
  {% for post in object_list %}
    <div class="post-entry">
      <h3><a href='{% url 'post_detail' post.pk %}'>{{ post.title }}</a> ( {{ post.ticker }} )
        
        {% if post.include == True %}
         ✓
      {% else %}
         ✖
      {% endif %}
      </h3>

      <h4><p>{{ post.business }}</p></h4>

      {% if post.author == user or user.is_superuser %}
        <h5>(<a href="{% url 'post_edit' post.id %}">Edit</a> |
        <a href="{% url 'post_delete' post.id %}">Delete</a>)</h5>
      {% endif %}

      {% if user.is_authenticated %}
      <form action="{% url 'like_home_post' post.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit"  name="post_id" value = "{{ post.id }}">Vote</button> - {{post.total_likes}} Likes
      </form>
      {% endif %}

      
    </div>
  {% endfor %}

{% endblock content %}
