requests==2.32.3
scipy>=1.13.1
scs==3.2.7
seaborn==0.12.2
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
svglib==1.5.1
tinycss2==1.2.1
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.1
uritools==4.0.2
urllib3==2.0.7
webencodings==0.5.1
whitenoise==6.5.0
wkhtmltopdf==0.2
xhtml2pdf==0.2.11
yfinance==0.2.54
zipp==3.4.0